.carousel {
  .container {
    .left {
        width: 50%;
        margin-top: -50px;
      p {
        @include styleText($fs-3, $fw-1, $color-1);
      }
      h1 {
        @include styleText($fs-4, $fw-2, black);
      }
    }
    .right {
      img {
        position: absolute;
        top: 100px;
      }
    }
  }
}
